<!doctype html>
<html>
<head>
    <title>Node Authentication</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <style>
        body        { padding-top:80px; word-wrap:break-word; }
    </style>
    <script>
        // assume that API service is published on same server that is the server of this HTML file
        var source = new EventSource("../updates");
        source.onmessage = function(event) {
            var data = JSON.parse(event.data);
            var inputCell= document.getElementById("console");
            inputCell.innerHTML = inputCell.innerHTML + JSON.stringify(data);
        };//onMessage
    </script>
</head>
<body>
<div class="container">

    <div class="page-header text-center">
        <h1><span class="fa fa-anchor"></span> Profile Page</h1>
        <a href="/logout" class="btn btn-default btn-sm">Logout</a>
    </div>

    <div class="row">

        <!-- USER INFORMATION -->
        <div class="col-md-6">
            <div class="well">
                <h3><span class="fa fa-user"></span> Local</h3>

                    <p>
                        <strong>email</strong>: <%= email %><br>
                    </p>

            </div>
        </div>

        <!-- UPLOAD FORM -->
        <div class="col-md-6">
            <div class="well">
                <!-- LOGIN FORM -->
                <form action="/fileupload" method="post" enctype="multipart/form-data" target="formtarget">
                    <div class="form-group">
                        <label>Test run argument</label>
                        <input type="text" class="form-control" name="argument">
                    </div>
                    <div class="form-group">
                        <label>Binary</label>
                        <input type="file" class="form-control" name="file">
                    </div>

                    <button type="submit" class="btn btn-warning btn-lg">Submit</button>
                </form>

            </div>
        </div>

    </div>

    <iframe name="formtarget"style="display:none"></iframe>

    <div class="row">

        <!-- TESTRUNS -->
        <div class="col-md-12">
            <div class="well">
                <h3><span class="fa fa-wrench"></span> Testruns</h3>

                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Date</th>
                        <th>Results</th>
                        <th>Status</th>               
                    </tr>    
                    </thead>
                    <tbody>  

                    <% user.local.testRuns.forEach(function(testrun){ %>
                        <tr>                  
                            <td><%= testrun.date %></td>
                            <td><a href="/download/1234" >results</a></td>
                            <td><%= testrun.status %></td>
                        </tr> 
                    <% }); %>       

                    </tbody>
                  </table>






                <div id="testruns">              
                </div>    
            </div>
        </div>
    </div>

    <div class="row">

        <!-- TERMINAL -->
        <div class="col-md-6">
            <div id="console"class="well">
                <h3>Terminal</h3>
                
            </div>
        </div>

        
    </div>

</div>
</body>
</html>
