.table-wrapper-scroll-y {
    /*display: block;*/
    max-height: 200px;
    overflow-y: auto;
    -ms-overflow-style: -ms-autohiding-scrollbar;
}

#terminal {
    height: 250px;
    overflow-y: auto;
}

/* set a max-width for horizontal fluid layout and make it centered */
.container {
  margin-right: auto;
  margin-left: auto;
  max-width: 1400px; /* or 950px */
}